nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-link {
  box-sizing: border-box;
  position: relative;
  display: block;
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 0.8em 1.8em;
  letter-spacing: 1px;
  width: 150px;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #bbe1fa;
}

.nav-item {
  position: relative;
}

.nav-item:hover {
  border-bottom-color: #bbe1fa;
}

.nav > li {
  float: left;
  border-bottom: 4px #aaa solid;
  margin-right: 1px;
}

.nav li a:first-child:nth-last-child(2):before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  top: 50% ;
  right: 5px;
}

.nav ul {
  position: absolute;
  white-space: nowrap;
  z-index: -1;
  top: -251px;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.nav > .categories:hover > ul {
  left: auto;
  padding-top: 5px;
  min-width: 100%;
  opacity: 1;
  transform: translateY(300px);
}

.nav form {
  position: absolute;
  top: -246px;
  white-space: nowrap;
  z-index: -1;
  left: 0;
  width: 300px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

.cabinet:hover > form {
  left: auto;
  padding-top: 5px;
  min-width: 100%;
  opacity: 1;
  transform: translateY(300px);
}

.nav > li li {
  border-right: 1px solid gray;
}

.nav > li li:hover > ul {
  left: 100%;
  top: 1px;
  opacity: 1;
}

.nav > li > a:first-child:nth-last-child(2):before {
  border-top-color: #fff;
}

.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-bottom-color: #fff;
  margin-top: -5px;
}

.nav li li > a:first-child:nth-last-child(2):before {
  border-left-color: #aaa;
  margin-top: -5px;
}

.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent;
  border-right-color: #aaa;
  right: 10px;
}

.link:hover {
  text-decoration: none;
  font-weight: 400;
  border-bottom: 1px dashed #0056be;
}
